<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-bottom: 25px;">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>
<br>
  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.select :category, [['Personal', 'personal'], ['Work', 'work']] %>
  </div>
<br>
  <div>
    <%= form.label :duedate, style: "display: block" %>
    <%= form.date_field :duedate, value: Date.current %>
  </div>
<br>
  <div style="margin-top: 15px;">
  <%= form.label :completed, style: "display: inline-block; margin-right: 10px; vertical-align: middle; " %>
  <%= form.check_box :completed, style: "vertical-align: middle;" %>
  </div>
<br>
  <div>
    <%= form.submit class: "custom-button" %>
  </div>
<% end %>
